@import "../../../../styles/includes";
.list {
  width: 100%;
}

.item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid $gray;
  box-sizing: border-box;
  td {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.submissionLink {
  color: $link-color;
  margin-right: 5px;
}

.handle {
  display: flex;
}

.date {
  color: $light-text;
  text-align: left;
  width: 100%;
}

.score {
  text-align: start;
}

.fail {
  color: $red;
}

.submissionType {
  font-size: 11px;
  background: $light-gray;
  margin-left: 4px;
  padding: 2px 4px;
  border-radius: 4px;
}

.tabs {
  @include roboto;

  font-size: 16px;
  color: $dark-gray-90;
  display: flex;
  height: 47px;
  justify-content: flex-start;
  background-color: $light-gray;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  div:last-of-type {
    &.active {
      border-left: 1px solid $white-text;
      border-right: 0;
    }
  }

  .tab {
    width: 226px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 8px;

    &.active {
      background-color: $white;
      border-right: 1px solid $white-text;
    }
  }
}

.btn {
  background-color: $teal;
  color: $white;
  text-align: center;
  text-decoration: none;
  line-height: 21px;
  font-size: 16px;
  border-radius: 6px;
  padding:  6px 6px;
  width: 100%;
  margin: 0 31px 0 31px;
}
