$white: #ffffff;
$gray: #A7B1C1;
$lighter-gray: #EBEBEB;
$light-gray: #F4F9FE;
$dark-gray: #2E4050;
$darker-gray: #293846;
$dark-gray-20: #c0c0c0;
$dark-gray-50: #808080;
$dark-gray-90: #2A2A2A;

$orange: #FB7D21;
$teal: #18AA8D;
$green: #60C602;
$red: #D0021B;

$light-blue: #27ACE8;
$blue: #337AB7;
$dark-blue-110: #006ad7;

$link-color: #006DEA;

$text-color: #151516;
$light-text: #6B6B6B;

$white-text: #F3F3F4;

$light-bg: #FAFAFB;
$button-blue: #0881FF;

$inactive: #D8D8D8;
